.DownloadButton {
    background-image: url("../menu_images/VectorDownload.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #a4c3c9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  
    width: 92px;
    height: 92px;
  }
  
  .DownloadButton:hover {
      border: 1px solid #50545D;
  }
  
  .DownloadButton:active {
      box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
      border: 1px solid #50545D;
  }
  