.UserButton {
  background-image: url("../../buttons_img/VectorUser.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #a4c3c9;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.UserButton:hover {
  border: 1px solid #50545d;
}

.UserButton:active {
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #50545d;
}
