.AddButton {
  background-image: url("../../../buttons_img/VectorAdd.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #a4c3c9;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 92px;
  height: 92px;
}

.AddButton:hover {
  border: 1px solid #50545d;
}

.AddButton:active {
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #50545d;
}
